<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="miniproejct2.My.MySettings.Database1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\User\Desktop\Visual Basic Design\miniproject\Database1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="miniproejct2.My.MySettings.Database2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\User\Desktop\Visual Basic Design\miniproject\Database2.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="miniproejct2.My.MySettings.Database3ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\User\Desktop\Visual Basic Design\miniproject\Database3.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="miniproejct2.My.MySettings.Database4ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\User\Desktop\Visual Basic Design\miniproject\Database4.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>